## Combining All Data

In [1]:
import os
import numpy as np
import pandas as pd

In [28]:
## 2018

In [33]:
## Reading in data

taxi_jan = pd.read_csv('./2018_taxi/01_2018_taxi.csv')
taxi_feb = pd.read_csv('./2018_taxi/02_2018_taxi.csv')
taxi_mar = pd.read_csv('./2018_taxi/03_2018_taxi.csv')
taxi_apr = pd.read_csv('./2018_taxi/04_2018_taxi.csv')
taxi_may = pd.read_csv('./2018_taxi/05_2018_taxi.csv')
taxi_jun = pd.read_csv('./2018_taxi/06_2018_taxi.csv')
taxi_jul = pd.read_csv('./2018_taxi/07_2018_taxi.csv')
taxi_aug = pd.read_csv('./2018_taxi/08_2018_taxi.csv')
taxi_sep = pd.read_csv('./2018_taxi/09_2018_taxi.csv')
taxi_oct = pd.read_csv('./2018_taxi/10_2018_taxi.csv')
taxi_nov = pd.read_csv('./2018_taxi/11_2018_taxi.csv')
taxi_dec = pd.read_csv('./2018_taxi/12_2018_taxi.csv')

In [38]:
# Removing Unnamed: 0 column from all months
# taxi_jan = taxi_jan.drop(columns='Unnamed: 0')
# taxi_feb = taxi_feb.drop(columns='Unnamed: 0')
# taxi_mar = taxi_mar.drop(columns='Unnamed: 0')
# taxi_apr = taxi_apr.drop(columns='Unnamed: 0')
# taxi_may = taxi_may.drop(columns='Unnamed: 0')
# taxi_jun = taxi_jun.drop(columns='Unnamed: 0')
# taxi_jul = taxi_jul.drop(columns='Unnamed: 0')
# taxi_aug = taxi_aug.drop(columns='Unnamed: 0')
# taxi_sep = taxi_sep.drop(columns='Unnamed: 0')
# taxi_oct = taxi_oct.drop(columns='Unnamed: 0')
# taxi_nov = taxi_nov.drop(columns='Unnamed: 0')
# taxi_dec = taxi_dec.drop(columns='Unnamed: 0')

In [39]:
len(taxi_jan.columns.intersection(taxi_apr.columns))

17

In [40]:
taxi_jan['month'] = 'jan'
taxi_feb['month'] = 'feb'
taxi_mar['month'] = 'mar'
taxi_apr['month'] = 'apr'
taxi_may['month'] = 'may'
taxi_jun['month'] = 'jun'
taxi_jul['month'] = 'jul'
taxi_aug['month'] = 'aug'
taxi_sep['month'] = 'sep'
taxi_oct['month'] = 'oct'
taxi_nov['month'] = 'nov'
taxi_dec['month'] = 'dec'

In [41]:
##Since all months have the same number of columns, I will concatonate them and form one df

taxi_2018 = pd.concat([taxi_jan, taxi_feb, taxi_mar, taxi_apr, taxi_may, taxi_jun, taxi_jul, taxi_aug, taxi_sep, taxi_oct, taxi_nov, taxi_dec])

In [45]:
#adding year column
taxi_2018['year'] = 2018

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,month,year
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,jan,2018
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,jan,2018
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,jan,2018
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,jan,2018
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,jan,2018

In [46]:
taxi_2018.to_csv('./taxi_2018.csv')

In [34]:
## 2019

In [4]:
## Reading in data

taxi_jan = pd.read_csv('./data/2019_taxi/01_2019_taxi.csv')
taxi_feb = pd.read_csv('./data/2019_taxi/02_2019_taxi.csv')
taxi_mar = pd.read_csv('./data/2019_taxi/03_2019_taxi.csv')
taxi_apr = pd.read_csv('./data/2019_taxi/04_2019_taxi.csv')
taxi_may = pd.read_csv('./data/2019_taxi/05_2019_taxi.csv')
taxi_jun = pd.read_csv('./data/2019_taxi/06_2019_taxi.csv')
taxi_jul = pd.read_csv('./data/2019_taxi/07_2019_taxi.csv')
taxi_aug = pd.read_csv('./data/2019_taxi/08_2019_taxi.csv')
taxi_sep = pd.read_csv('./data/2019_taxi/09_2019_taxi.csv')
taxi_oct = pd.read_csv('./data/2019_taxi/10_2019_taxi.csv')
taxi_nov = pd.read_csv('./data/2019_taxi/11_2019_taxi.csv')
taxi_dec = pd.read_csv('./data/2019_taxi/12_2019_taxi.csv')

/Users/jonathanbeltran/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/jonathanbeltran/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
taxi_apr.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2019-04-01 00:04:09,2019-04-01 00:06:35,1,0.5,1,N,239,239,1,4.0,3.0,0.5,1.00,0.0,0.3,8.80,2.5
1,1,1,2019-04-01 00:22:45,2019-04-01 00:25:43,1,0.7,1,N,230,100,2,4.5,3.0,0.5,0.00,0.0,0.3,8.30,2.5
2,2,1,2019-04-01 00:39:48,2019-04-01 01:19:39,1,10.9,1,N,68,127,1,36.0,3.0,0.5,7.95,0.0,0.3,47.75,2.5
3,3,1,2019-04-01 00:35:32,2019-04-01 00:37:11,1,0.2,1,N,68,68,2,3.5,3.0,0.5,0.00,0.0,0.3,7.30,2.5
4,4,1,2019-04-01 00:44:05,2019-04-01 00:57:58,1,4.8,1,N,50,42,1,15.5,3.0,0.5,3.85,0.0,0.3,23.15,2.5

In [6]:
# # Removing Unnamed: 0 column from all months
# taxi_jan = taxi_jan.drop(columns='Unnamed: 0')
# taxi_feb = taxi_feb.drop(columns='Unnamed: 0')
# taxi_mar = taxi_mar.drop(columns='Unnamed: 0')
# taxi_apr = taxi_apr.drop(columns='Unnamed: 0')
# taxi_may = taxi_may.drop(columns='Unnamed: 0')
# taxi_jun = taxi_jun.drop(columns='Unnamed: 0')
# taxi_jul = taxi_jul.drop(columns='Unnamed: 0')
# taxi_aug = taxi_aug.drop(columns='Unnamed: 0')
# taxi_sep = taxi_sep.drop(columns='Unnamed: 0')
# taxi_oct = taxi_oct.drop(columns='Unnamed: 0')
# taxi_nov = taxi_nov.drop(columns='Unnamed: 0')
# taxi_dec = taxi_dec.drop(columns='Unnamed: 0')

KeyError: "['Unnamed: 0'] not found in axis"

In [7]:
taxi_jan['month'] = 'jan'
taxi_feb['month'] = 'feb'
taxi_mar['month'] = 'mar'
taxi_apr['month'] = 'apr'
taxi_may['month'] = 'may'
taxi_jun['month'] = 'jun'
taxi_jul['month'] = 'jul'
taxi_aug['month'] = 'aug'
taxi_sep['month'] = 'sep'
taxi_oct['month'] = 'oct'
taxi_nov['month'] = 'nov'
taxi_dec['month'] = 'dec'

In [8]:
##Since all months have the same number of columns, I will concatonate them and form one df

taxi_2019 = pd.concat([taxi_jan, taxi_feb, taxi_mar, taxi_apr, taxi_may, taxi_jun, taxi_jul, taxi_aug, taxi_sep, taxi_oct, taxi_nov, taxi_dec])

In [9]:
taxi_2019['year'] = 2019

In [10]:
taxi_2019.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,month,year
0,1.0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151,239,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,jan,2019
1,1.0,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239,246,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,jan,2019

In [11]:
# taxi_2019['month'].value_counts()

mar    7832545
jan    7667792
may    7565261
apr    7433139
oct    7213891
feb    7019375
jun    6941024
dec    6896317
nov    6878111
sep    6567788
jul    6310419
aug    6073357
Name: month, dtype: int64

In [13]:
taxi_2019.to_csv('./data/taxi_2019.csv')

In [ ]:
## 2020

In [2]:
## Reading in data
taxi_jan = pd.read_csv('./data/2020_taxi/01_2020_taxi.csv')
taxi_feb = pd.read_csv('./data/2020_taxi/02_2020_taxi.csv')
taxi_mar = pd.read_csv('./data/2020_taxi/03_2020_taxi.csv')
taxi_apr = pd.read_csv('./data/2020_taxi/04_2020_taxi.csv')
taxi_may = pd.read_csv('./data/2020_taxi/05_2020_taxi.csv')
taxi_jun = pd.read_csv('./data/2020_taxi/06_2020_taxi.csv')
taxi_jul = pd.read_csv('./data/2020_taxi/07_2020_taxi.csv')
taxi_aug = pd.read_csv('./data/2020_taxi/08_2020_taxi.csv')
taxi_sep = pd.read_csv('./data/2020_taxi/09_2020_taxi.csv')
taxi_oct = pd.read_csv('./data/2020_taxi/10_2020_taxi.csv')
taxi_nov = pd.read_csv('./data/2020_taxi/11_2020_taxi.csv')
taxi_dec = pd.read_csv('./data/2020_taxi/12_2020_taxi.csv')

/Users/jonathanbeltran/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
## Removing Unnamed: 0 column from all months
taxi_jan = taxi_jan.drop(columns='Unnamed: 0')
taxi_feb = taxi_feb.drop(columns='Unnamed: 0')
taxi_mar = taxi_mar.drop(columns='Unnamed: 0')
taxi_apr = taxi_apr.drop(columns='Unnamed: 0')
taxi_may = taxi_may.drop(columns='Unnamed: 0')
taxi_jun = taxi_jun.drop(columns='Unnamed: 0')
taxi_jul = taxi_jul.drop(columns='Unnamed: 0')
taxi_aug = taxi_aug.drop(columns='Unnamed: 0')
taxi_sep = taxi_sep.drop(columns='Unnamed: 0')
taxi_oct = taxi_oct.drop(columns='Unnamed: 0')
taxi_nov = taxi_nov.drop(columns='Unnamed: 0')
taxi_dec = taxi_dec.drop(columns='Unnamed: 0')

In [5]:
len(taxi_jan.columns.intersection(taxi_apr.columns))

19

In [6]:
taxi_jan['month'] = 'jan'
taxi_feb['month'] = 'feb'
taxi_mar['month'] = 'mar'
taxi_apr['month'] = 'apr'
taxi_may['month'] = 'may'
taxi_jun['month'] = 'jun'
taxi_jul['month'] = 'jul'
taxi_aug['month'] = 'aug'
taxi_sep['month'] = 'sep'
taxi_oct['month'] = 'oct'
taxi_nov['month'] = 'nov'
taxi_dec['month'] = 'dec'

In [7]:
##Since all months have the same number of columns, I will concatonate them and form one df

taxi_2020 = pd.concat([taxi_jan, taxi_feb, taxi_mar, taxi_apr, taxi_may, taxi_jun, taxi_jul, taxi_aug, taxi_sep, taxi_oct, taxi_nov, taxi_dec])

In [8]:
taxi_2020['year'] = 2020

In [9]:
taxi_2020.to_csv('./data/taxi_2020.csv')

In [ ]:
# taxi_2020 = pd.read_csv('./taxi_2020.csv')
# taxi_2019 = pd.read_csv('./taxi_2019.csv')
taxi_2018 = pd.read_csv('./taxi_2018.csv')

In [6]:
## Cropping 2018 data as it is too large
np.random.seed(42)

remove_n = 
drop_indices = np.random.choice(taxi_2018.index, remove_n, replace=False)
df_subset = df.drop(drop_indices)

##source of code is https://stackoverflow.com/questions/28556942/pandas-remove-rows-at-random-without-shuffling-dataset

NameError: name 'taxi_2018' is not defined

In [1]:
full_taxi = pd.concat([taxi_2018, taxi_2019, taxi_2020])

NameError: name 'pd' is not defined

In [ ]:
full_taxi.to_csv('./full_taxi.csv')