In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns

In [13]:
# Read the saved csv from the earlier notebook and set the index to the date_time column

taxi_2020 = pd.read_csv("./data/taxi_2020_clean_2.csv")

KeyboardInterrupt:

In [4]:
# taxi_2020.reset_index()
# taxi_2020.sort_index(inplace=True)

In [3]:
taxi_2020.head(2)

,Unnamed: 0,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,pickup_day_of_week,dropoff_day_of_week,pickup_hour,dropoff_hour,pickup_timeofday,dropoff_timeofday,trip_time,pickup_borough,dropoff_borough,zone
0,0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,...,Wednesday,Wednesday,0,0,Late night,Late night,0 days 00:04:48,Manhattan,Manhattan,Upper West Side North
1,1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,...,Wednesday,Wednesday,0,0,Late night,Late night,0 days 00:07:25,Manhattan,Manhattan,Upper West Side South

In [3]:
taxi_2020=taxi_2020.drop(columns=['Unnamed: 0', 'dropoff_datetime', 'store_and_fwd_flag', 'trip_time', 'DOLocationID', 'improvement_surcharge'])

In [7]:
# taxi_2020.head(2)

In [8]:
##seggregating by borough

taxi_manhattan = taxi_2020.loc[taxi_2020.pickup_borough == 'Manhattan',:]
taxi_queens = taxi_2020.loc[taxi_2020.pickup_borough == 'Queens',:]
taxi_brooklyn = taxi_2020.loc[taxi_2020.pickup_borough == 'Brooklyn',:]
taxi_bronx = taxi_2020.loc[taxi_2020.pickup_borough == 'Bronx',:]
taxi_staten_island = taxi_2020.loc[taxi_2020.pickup_borough == 'Staten Island',:]

In [9]:
## Saving to csv
taxi_manhattan.to_csv('./data/taxi_manhattan_2020.csv')
taxi_queens.to_csv('./data/taxi_queens_2020.csv')
taxi_brooklyn.to_csv('./data/taxi_brooklyn_2020.csv')
taxi_bronx.to_csv('./data/taxi_bronx_2020.csv')
taxi_staten_island.to_csv('./data/taxi_staten_island_2020.csv')

In [3]:
##Combining 2019 & 2020 borough csvs
manhattan_2019= pd.read_csv('./data/taxi_manhattan.csv')

In [4]:
manhattan_2019.shape

(70334952, 28)

In [14]:
taxi_manhattan = pd.read_csv('./data/taxi_manhattan_2020.csv')

In [6]:
from numpy.random import default_rng

In [7]:
arr_indices_top_drop = default_rng().choice(manhattan_2019.index, size=26_000_000, replace=False)

In [8]:
manhattan_2019 = manhattan_2019.drop(index=arr_indices_top_drop)

In [12]:
manhattan_2019.shape

(59784952, 28)

In [17]:
taxi_manhattan.columns, taxi_manhattan.columns

(Index(['Unnamed: 0', 'VendorID', 'pickup_datetime', 'passenger_count',
        'trip_distance', 'RatecodeID', 'PULocationID', 'payment_type',
        'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
        'total_amount', 'congestion_surcharge', 'month', 'year',
        'pickup_day_of_week', 'dropoff_day_of_week', 'pickup_hour',
        'dropoff_hour', 'pickup_timeofday', 'dropoff_timeofday',
        'pickup_borough', 'dropoff_borough', 'zone'],
       dtype='object'),
 Index(['Unnamed: 0', 'VendorID', 'pickup_datetime', 'passenger_count',
        'trip_distance', 'RatecodeID', 'PULocationID', 'payment_type',
        'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
        'total_amount', 'congestion_surcharge', 'month', 'year',
        'pickup_day_of_week', 'dropoff_day_of_week', 'pickup_hour',
        'dropoff_hour', 'pickup_timeofday', 'dropoff_timeofday',
        'pickup_borough', 'dropoff_borough', 'zone'],
       dtype='object'))

In [35]:
taxi_manhattan = taxi_manhattan.drop(columns=['dropoff_datetime', 'store_and_fwd_flag', 'DOLocationID', 'improvement_surcharge'])

In [23]:
columnsTitles = ['pickup_datetime', 'VendorID', 'dropoff_datetime', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'month', 'year', 'pickup_day_of_week',
       'dropoff_day_of_week', 'pickup_hour', 'dropoff_hour',
       'pickup_timeofday', 'pickup_borough', 'dropoff_borough', 'zone']

In [21]:
taxi_manhattan.shape

(21474917, 26)

In [27]:
taxi_manhattan = taxi_manhattan.reindex(columns=columnsTitles)

In [31]:
# manhattan_2019= manhattan_2019.drop(columns=['dropoff_datetime', 'store_and_fwd_flag', 'DOLocationID', 'improvement_surcharge'])

In [34]:
manhattan_2019.columns

Index(['pickup_datetime', 'VendorID', 'passenger_count', 'trip_distance',
       'RatecodeID', 'PULocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount',
       'congestion_surcharge', 'month', 'year', 'pickup_day_of_week',
       'dropoff_day_of_week', 'pickup_hour', 'dropoff_hour',
       'pickup_timeofday', 'pickup_borough', 'dropoff_borough', 'zone'],
      dtype='object')

In [18]:
manhattan_full = pd.concat([taxi_manhattan,manhattan_2019])

In [20]:
manhattan_full.to_csv('./data/manhattan_full.csv')

In [19]:
manhattan_full.shape

(81259869, 30)

In [48]:
# manhattan_full.head()

In [41]:
queens_2019= pd.read_csv('./data/taxi_queens.csv')

In [43]:
len(queens_2019.columns), len(taxi_queens.columns)

(28, 25)

In [44]:
queens_2019 =  queens_2019.drop(columns=['dropoff_datetime', 'store_and_fwd_flag', 'DOLocationID', 'improvement_surcharge'])

In [46]:
taxi_queens = taxi_queens.reindex(columns=columnsTitles)

In [49]:
queens_full = pd.concat([taxi_queens, queens_2019])

In [50]:
queens_full.to_csv('./data/queens_full.csv')

In [51]:
brooklyn_2019= pd.read_csv('./data/taxi_brooklyn.csv')

In [52]:
brooklyn_2019 = brooklyn_2019.drop(columns=['dropoff_datetime', 'store_and_fwd_flag', 'DOLocationID', 'improvement_surcharge'])

In [53]:
taxi_brooklyn = taxi_brooklyn.reindex(columns=columnsTitles)

In [54]:
brooklyn_full = pd.concat([taxi_brooklyn, brooklyn_2019])

In [55]:
brooklyn_full.to_csv('./data/brooklyn_full.csv')

In [56]:
bronx_2019= pd.read_csv('./data/taxi_bronx.csv')

In [57]:
bronx_2019 = bronx_2019.drop(columns=['dropoff_datetime', 'store_and_fwd_flag', 'DOLocationID', 'improvement_surcharge'])

In [58]:
taxi_bronx = taxi_bronx.reindex(columns=columnsTitles)

In [59]:
bronx_full = pd.concat([taxi_bronx, bronx_2019])

In [60]:
bronx_full.to_csv('./data/bronx_full.csv')

In [61]:
staten_island_2019= pd.read_csv('./data/taxi_bronx.csv')

In [62]:
staten_island_2019 = staten_island_2019.drop(columns=['dropoff_datetime', 'store_and_fwd_flag', 'DOLocationID', 'improvement_surcharge'])

In [63]:
taxi_staten_island = taxi_staten_island.reindex(columns=columnsTitles)

In [64]:
staten_island_full = pd.concat([taxi_staten_island, staten_island_2019])

In [65]:
staten_island_full.to_csv('./data/staten_island_full.csv')